<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @photo.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @photo.size %>
</p>
<%= link_to 'preview_link_url', preview_photo_url(@photo, size: @photo['size'], name: @photo['name'], client: 'true') %><br>
<%= link_to 'preview_link_path',preview_photo_path(@photo, size: @photo['size'], name: @photo['name']) %><br>
<%= link_to 'Edit', edit_photo_path(@photo) %>|<br>
<%= link_to 'Back', photos_path %>
