<%= form_with(model: image_uploader, local: true) do |form| %>
  <% if image_uploader.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image_uploader.errors.count, "error") %> prohibited this image_uploader from being saved:</h2>

      <ul>
        <% image_uploader.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :avtar_image %>
    <%= form.file_field :avatar_image %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :avtar %>
    <%= form.text_field :avtar %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
